.env
./deploy
**/next-env.d.ts
node_modules
**/.next/
jwt-*
backend/.env.temp
**/__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.venv
flake.lock
.ruff_cache/
compose.yaml
compose.letsencrypt.yaml
rtmps.conf
.ideas
**/nginx.rtmp.conf
