volumes:
  database-data:
  redis-data:
  nginx-data:

networks:
  leams-net: 
    external: false
    internal: false
  
services:
  frontend:
    restart: always
    container_name: frontend
    build: ./frontend/
    networks:
      - leams-net
    ports:
      - 3000:3000
    dns:
      - 8.8.8.8
      - 1.1.1.1
    develop: 
      watch:
        - action: sync
          path: ./frontend/
          target: /frontend
        - action: rebuild
          path: ./frontend/Dockerfile
  backend:
    restart: always
    container_name: backend
    networks:
      - leams-net
    depends_on:
      - database
    develop: 
      watch:
        - action: sync
          path: ./backend/
          target: /backend
    build: .
    ports:
      - 3001:3001
  database:
    restart: always
    container_name: database
    image: "postgres:alpine"
    environment:
      - POSTGRES_PASSWORD=leams
  redis:
    restart: always
    container_name: redis
    image: "redis:8.6-alpine"

  nginx-rtmp:
    restart: always
    container_name: nginx-rtmp
    networks:
      - leams-net
    develop: 
      watch:
        - action: sync
          path: ./nginx.conf
          target: /etc/nginx/nginx.conf
        # NOTE: This is for entire compose 
        - action: rebuild
          path: ./compose.yml
    build: .
    ports:
      - 1935:1935
      - 8000:8001
