volumes:
  database-data:
  redis-data:
  nginx-data:
  
services:
  frontend:
    build: ./frontend/
    ports:
      - "3000:3000"
    dns:
      - 8.8.8.8
      - 1.1.1.1
    develop:
      watch:
        - action: sync
          path: ./frontend/
          target: /frontend
  database:
    image: "postgres:alpine"
  redis:
    image: "redis:8.6-alpine"
  nginx-rtmp:
    build: .
    ports:
      - "1935:1935"
      - "8080:8080"

    
