
.video-js {
	resize: both;
  background-color: black;         /* fallback */
  border-radius: 0.5rem;           /* = Tailwind's rounded-lg */
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -4px rgba(0,0,0,.1); /* = shadow-lg */
}
.vjs-play-control .vjs-icon-play { color: #ef4444; }    /* = red-500 */
.vjs-fullscreen-control { display: none; }              /* utility: hidden */
